
:root{
    --newblue: rgb(105, 208, 255);
    --neworange: rgb(252, 217, 152);
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(var(--newblue) , var(--neworange));

}
.parent {
    height: 100vh;
    display: grid;
    grid: auto 1fr auto / 100px 1fr 100px;
}

header, footer, .left-sidebar, main, .right-sidebar {
    padding: 10px;
}

header {
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / 4;
}

.left-sidebar{
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 15px;
}

.nav-menu a {
    text-decoration: none;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

iframe{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Main Sections */
main {
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.intro, .portfolio, .contact {
    margin-bottom: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.format{
    max-width: 200px;
    justify-content: center;
    align-content: center;
}

table{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    gap: 16px;
    margin: 0 auto;
    padding: 20px 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background: #f4f4f4;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 10px;
}
#contact{
        text-align: center;
    }


label {
    font-weight: bold;
}


/* Footer */
footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    grid-column: 1 / 4;
}



@media (max-width: 768px) {
    .parent {
        grid: repeat(5, 1fr) / 1fr;
    }

    header,
    footer,
    .left-sidebar,
    main,
    .right-sidebar {
        grid-column: 1 / 2;
    }
}

nav { 
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transform: scaleX(1);
      }
      
      li a:hover {
        animation-name: gobig;
        animation-duration: 2s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        background-color: var(--newblue);
        border-radius: 20px;
      }
      .active {
        background-color: var(--newblue);
        border-radius: 20px;
      }
}

@keyframes gobig {
    from {
        font-size: 15px;
    }
    to {
        font-size: 50px;
     }
    }